<html>
	<head>
		<title> The Gossip project </title>
	</head>
	<body>
		<center>
		<h1> Bienvenue sur mon site de gossip ! </h1>
		<p> Les nouveaux gossips arrivent bientot. En attendant donne nous le tien par <a href="/gossips/new/">ici</a> </p>

		<% gossips.each_with_index do |gossip, index| %>
        <p>
          <a href="/gossips/<%= (index) %>"><%= gossip.author %> </a><br/>
          <%= gossip.content %>
        </p>
      <% end %>

      	</center>

	</body>
</html>	
